.image_goa{
    background-image: url("../images/goabeach.jpg");
    background-size: cover;
}
.image_kerla{
    background-size: cover;
    background-image: url("../images/Kerla\ beaches.webp");
}
.image_andaman{
    background-size: cover;
    background: url("../images/andaman\ and\ nicobar\ islands.jpeg");
}
.image_lakshadweep{
    background-image: url("../images/Lakshadweep beaches.jpg");
    background-size: cover;
}
.image_Pondicherry{
    background-image: url("../images/Pondicherry\ beaches.jpg");
    background-size: cover;
}
.image_shimla{
    background-image: url("../images/shimla\ hillststion.jpg");
    background-size: cover;
}
.image_darjeeling{
    background-image: url("../images/darjeeling\ hillstation.jpg");
    background-size: cover;
}
.image_ooty{
    background-image: url("../images/ooty\ hillstation.webp");
    background-size: cover;
}
.image_Munnar{
    background-image: url("../images/Munnar_hillstation_kerala.jpg");
    background-size: cover;
}
.image_nanital{
    background-image: url("../images/nanital\ hillstation.jpg");
    background-size: cover;
}
.image_lonavala{
    background-image: url("../images/lonavala\ weekend.webp");
    background-size: cover;
}
.image_udaipur{
    background-image: url("../images/udaipur\ weekend.webp");
    background-size: cover;
}
.image_coorg{
    background-image: url("../images/coorg\ weekend.webp");
    background-size: cover;
}
.image_Rishikesh{
    background-image: url("../images/Rishikesh\ weekend.jpg");
    background-size: cover;
}
.image_McLeodganj{
    background-image: url("../images/McLeodganj\ weekend.png");
    background-size: cover;
}
.image_taj{
    background-image: url("../images/taj\ mahal\ heritage.cms");
    background-size: cover;
}
.image_hampi{
    background-image: url("../images/hampi\ heritage.webp");
    background-size: cover;
}
.image_khajuraho{
    background-image: url("../images/khajuraho\ heritage.jpg");
    background-size: cover;
}
.image_ajanta{
    background-image: url("../images/Ajanta_and_Ellora_Caves\ heritage.webp");
    background-size: cover;
}
.image_Fatehpur{
    background-image: url("../images/Fatehpur\ Sikri\ heritage.jpg");
    background-size: cover;
}
.imgae_varanasi{
    background-image: url("../images/varanasi\ pilgrimage.jpg");
    background-size: cover;
}
.image_Tirupati{
    background-image: url("../images/Tirupati\ pilgrimage.jpg");
    background-size: cover;
}
.image_Amarnath{
    background-image: url("../images/Amarnath\ Cave\ pilgrimage.jpg");
    background-size: cover;
}
.image_Bodh{
    background-image: url("../images/Bodh\ Gaya\ pilgrimage.webp");
    background-size: cover;
}
.image_Vaishno{
    background-image: url("../images/Vaishno\ Devi\ pilgrimage.jpeg");
    background-size: cover;
}
.image_Tawang{
    background-image: url("../images/Tawang\ relaxation.jpg");
    background-size: cover;
}
.image_Kasol{
    background-image: url("../images/Kasol\ relaxation.jpeg");
    background-size: cover;
}
.image_Auli{
    background-image: url("../images/Auli\ relaxation.cms");
    background-size: cover;
}
.image_Zuluk{
    background-image: url("../images/Zuluk\ relaxation.jpg");
    background-size: cover;
}
.image_Hampi{
    background-image: url("../images/Hampi\ relaxation.jpg");
    background-size: cover;
}
.image_kashmirnorth{
    background-image: url("../images/Kashmir\ north.cms");
    background-size: cover;
}
.image_rajasthannorth{
    background-image: url("../images/rajasthan\ north.jpg");
    background-size: cover;
}
.image_Himachal{
    background-image: url("../images/Himachal\ Pradesh\ north.webp");
    background-size: cover;
}
.image_Darjeelingeast{
    background-image: url("../images/Darjeeling\ east.jpg");
    background-size: cover;
}
.image_Shillong{
    background-image: url("../images/Shillong\ east.jpg");
    background-size: cover;
}
.image_Kaziranga{
    background-image: url("../images/Kaziranga\ National\ Park\ east.jpg");
    background-size: cover;
}
.image_Karnataka{
    background-image: url("../images/Karnataka\ south.jpeg");
    background-size: cover;
}
.image_Tamil{
    background-image: url("../images/Tamil\ Nadu\ south.jpg");
    background-size: cover;
}
.image_Keralasouth{
    background-image: url("../images/Kerala\ south.cms");
    background-size: cover;
}
.image_Goa{
    background-image: url("../images/Goa\ west.jpg");
    background-size: cover;
}
.image_Mumbai{
    background-image: url("../images/Mumbai\ east.jpg");
    background-size: cover;
}
.image_Gujarat{
    background-image: url("../images/Gujarat\ east.jpg");
    background-size: cover;
}